.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	font-size: 1.15rem;
	color: #aaa;
}

.footer-count {
	font-weight: 400;
}

.status-list {
	display: flex;
	list-style: none;
}

.button {
	margin: 0 5px;
	padding: 10px;
	font-size: 18px;
	font-weight: 600;
	color: inherit;
	background: none;
	border-color: transparent;
}

.button:hover {
	background: #eee;
}

.button:focus {
	color: #47f;
}